@page "/"
@using Ellipse.Components.MarkerMenu
@using Ellipse.Components.MapDisplay


@namespace Ellipse.Pages

<PageTitle>Home</PageTitle>

<div class="bg-gradient-to-br from-blue-50 via-blue-100 to-blue-200">
    <div class="w-screen h-screen absolute inset-0">
        <MapDisplay Markers="_markers" OnMarkerClick="OnMarkerItemClick" />
    </div>

    <MarkerMenu 
        @ref="_menu" 
        OnButtonClick="GoToLandSearch" 
        IsListMode="true" />

    <MudFab 
        StartIcon="@Icons.Material.Filled.Menu"
        IconColor="Color.Primary"
        Class="bg-blue z-10 absolute left-4 bottom-4"
         />
</div>
