@page "/"
@using Ellipse.Components.MarkerMenu
@using Ellipse.Components.MapDisplay


@namespace Ellipse.Pages

<PageTitle>Home</PageTitle>

<div class="bg-gradient-to-br from-blue-50 via-blue-100 to-blue-200">
    <!-- Sidebar -->
    <div class="z-10">
        <MarkerMenu @ref="_menu" DrawerOpen="true" OnButtonClick="GoToLandSearch" IsListMode="true" />
    </div>
    <div class="w-screen h-screen absolute inset-0">
        <MapDisplay Markers="_markers" OnMarkerClick="OnMarkerItemClick"  />
    </div>
</div>
