@page "/"

<PageTitle>Home</PageTitle>

<div
    class="min-h-screen relative bg-white before:content-[''] before:absolute before:inset-0 before:bg-[radial-gradient(circle_at_top_left,_theme('colors.sky.200'),_transparent_60%)] before:blur-3xl before:z-0">
    <MudContainer>
        <MudStack Spacing="10" AlignItems="AlignItems.Center" Justify="Justify.Center" Class="relative z-10">
            <MudText Typo="Typo.h1" Class="font-medium text-black font-sans">Ellipse</MudText>
            <MudButton Class="bg-sky-600 hover:bg-sky-700" OnClick="NavToMap">
                <MudText Class="text-white">Open Map</MudText>
            </MudButton>
        </MudStack>
    </MudContainer>
</div>